/src/flask/venv
/src/flask/.idea
/src/flask/app/__pycache__
/src/flask/app/storage/files
/src/flask/app/models/__pycache__

.DS_Store
src/vue/node_modules/
src/vue/dist/
src/vue/npm-debug.log*
src/vue/yarn-debug.log*
src/vue/yarn-error.log*
src/vue/test/unit/coverage/
src/vue/test/e2e/reports/
src/vue/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
